@import url(Slider/Slider.css);

body {
  margin: 0;
  background-color: rgb(255, 255, 255);
  font-family: "Jost", sans-serif;
}

/*variables para todo el proyecto*/

:root {
  --nav-color: #a0ab8f;
  --white: white;
  --card-color: #f5f0f0;
  --main-border-radius: 2vw;
}
